body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-image: url("https://stmed.net/sites/default/files/elemental-wallpapers-28129-5603102.jpg");
    background-position: center;
}
h1 {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 1em;
}

h4 {
    margin: 1em 0 0.25em 3em;
    font-weight: 900;
    animation-name: fontColorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes fontColorChange {
    0% {color: whitesmoke;}
    30% {color: rgb(209, 6, 6);}
    60% {color: rgb(6, 22, 248);}
    90% {color: rgb(246, 182, 62);}
    100% {color: whitesmoke;} 
}

p {
    font-size: 1.2em; 
}

.jumbotron {
    margin: 5em 0;
    
    background-color: rgba(19, 18, 18, 0.589);
    /* Experimental Feature must be turned on in chrome://flags/ 
        -->Experimental Web Platform Features */
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);  
    /* border: 5px solid #f4f8f780; */
}

.score-board {
    background-color: rgba(20, 20, 20, 0.63);
    border: 1px solid #f4f8f780;
    border-radius: 5px;
    margin-right: 0 2em;
    animation-name: borderChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes borderChange {
    0% {border: 1px solid whitesmoke;}
    30% {border: 1px solid rgb(209, 6, 6);}
    60% {border: 1px solid rgb(6, 22, 248);}
    90% {border: 1px solid rgb(246, 182, 62);}
    100% {border: 1px solid whitesmoke;}
}

.board-row{
    border-bottom: 1px solid whitesmoke;
    animation-name: borderColorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes borderColorChange {
    0% {border-bottom: 1px solid whitesmoke;}
    30% {border-bottom: 1px solid rgb(209, 6, 6);}
    60% {border-bottom: 1px solid rgb(6, 22, 248);}
    90% {border-bottom: 1px solid rgb(246, 182, 62);}
    100% {border-bottom: 1px solid whitesmoke;}
}

.game-message-container {
    height: 3em;
}

#game-message {
    color:  rgba(245, 190, 72, 0.767);
    background-color: rgba(19, 18, 18, 0.555);
    margin: 0.25em 0;
    /* border: 0.5px solid whitesmoke; */
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
}


#elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 125px;
    margin: 3em 1em;
}
.element-image {
    width: 125px;
    height: auto;
}

.element-image:hover {
    animation-name: growMonster;
    animation-duration: 4s;
    cursor: url('favicon.ico'), pointer;
    
}
@keyframes growMonster {
    0% {width: 125px;}
    5% {transform: translateY(-1em) scale(1.25, 1.25);}
    100% {transform: scale(1, 1);}
}